---
title: Mike Goodwin > Web Developer
---

<header id="home">
  <nav>
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
  <div id="page-heading">
    <h1><span>Mike Goodwin</span></h1>
    <p>Web Developer</p>
  </div>
</header>

<section id="about">
  <h2>Who am I?</h2>
  <div id="headshots">
    <div class="headshot-1"></div>
    <div class="headshot-2"></div>
    <div class="headshot-3"></div>
  </div>
  <p class="blurb">A long-time software developer, I was recently trained in the full-stack web dev arts, courtesy of <a href="http://generalassemb.ly/education/web-development-immersive" target="_blank">General Assembly</a> in Melbourne.<br />I love to code and the problem-solving it requires. I get joy from the ordering of pixels about a screen and the highly visible outcome of my labours that brings.<br />If not tapping away at a keyboard I'm likely watching movies, following sports, reading books or expanding my web dev knowledge via our friend the internet.</p>
</section>

<section id="projects">
  <h2>What have I done?</h2>
  <div class="cards clearfix">
    <p class="card" data-name="hotflix"></p>
    <p class="card" data-name="book"></p>
    <p class="card" data-name="rebel"></p>
    <p class="card" data-name="nlhe"></p>
  </div>
</section>

<section id="project-details">
  <div class="details" data-name="hotflix">
    Hotflix
  </div>
  <div class="details" data-name="book">
    Book
  </div>
  <div class="details" data-name="rebel">
    Rebel
  </div>
  <div class="details" data-name="nlhe">
    NLHE
  </div>
</section>

<section id="contact">
  <h2>Where can I be found?</h2>
  <ul>
    <li><a href="https://github.com/Goodo73" target="_blank"><span class="fa fa-github fa-3x"></span></a></li>
    <li><a href="https://au.linkedin.com/in/michaelgoodwinprofile" target="_blank"><span class="fa fa-linkedin fa-3x"></span></a></li>
    <li><a href="https://twitter.com/Goodo73" target="_blank"><span class="fa fa-twitter fa-3x"></span></a></li>
  </ul>
  <p class="email"><a href="mailto:goodo73@gmail.com">goodo73@gmail.com</a></p>
</section>

<footer>
  <nav>
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
  <p><span class="fa fa-copyright"></span> 2015 Mike Goodwin</p>
</footer>